<main>
    <%- include('../layout/msg'); -%>
        <h1>bem vindo ao aplicativo</h1>
        <ul>
            <li><a href="/aventura-pet/add-pet">Adicionar um pet</a></li>
            <li><a href="/aventura-pet/distance">configurar distancia</a></li>
            <li><a href="/aventura-pet/get-img">configurar distancia</a></li>
        </ul>
      


</main>