<main>
   <%- include('../layout/msg'); -%>
    <div>barra de progresso</div>
    <a href="/new-account">voltar <- </a>

    <h3>qual é seu nome</h3>

    <form action="/new-account/contact" method="post">
        <input type="text" name="user_name">
        <p>avisos</p>
        <input type="submit" value="seguinte">
    </form>

    
     <p>imgame de exemplo</p>
    
</main>