<main>
   <%- include('../layout/msg'); -%>
    <h1>logog</h1>
    <h2>bem vindo(a) a aventuraPet</h2>
    <ul>
        <li><span>aviso um</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui hic sequi quae nihil vitae. Incidunt id rerum, ipsa eveniet, voluptatem, totam cupiditate quod molestias aliquam et maiores in ab.</li>
         <li><span>aviso dois</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui hic sequi quae nihil vitae. Incidunt id rerum, ipsa eveniet, voluptatem, totam cupiditate quod molestias aliquam et maiores in ab.</li>
          <li><span>aviso tres</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui hic sequi quae nihil vitae. Incidunt id rerum, ipsa eveniet, voluptatem, totam cupiditate quod molestias aliquam et maiores in ab.</li>
    </ul>

    <a href="/new-account/name">SEGUINTE</a>
    
    
</main>