<main>
     <%- include('../layout/msg'); -%>
    <h1>crie uma senha</h1>
    <form  method="post" action="/new-account/login">
        <label>SENHA</label>
        <input  type="password" name="password">
        <label>REPITA A SENHA</label>
        <input  type="password" name="password">
        <input type="submit" value="SEGUINTE">
    </form>
</main>